:javascript
  jQuery.noConflict();

  var example = 'bar-basic',
  theme = 'dark-unica';

  (function($){ // encapsulate jQuery
  	$(function () {


  	  var categories =  #{@labels};
  	  var data = #{@scores};

      $('#container').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Image Labels'
          },
          xAxis: {
              categories: categories,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Score (between 0 and 1)',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' Score'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Label Scores',
              data: data
          }]
      });
  });
  })(jQuery);
  jQuery(document).ready(function(){jQuery("#view-menu").click(function(e){jQuery("#wrap").toggleClass("toggled")}),jQuery("#sidebar-close").click(function(e){jQuery("#wrap").removeClass("toggled")}),jQuery(document).keydown(function(e){var t;"INPUT"!=e.target.tagName&&(39==e.keyCode?t=document.getElementById("next-example"):37==e.keyCode&&(t=document.getElementById("previous-example")),t&&(location.href=t.href))}),jQuery("#switcher-selector").bind("change",function(){var e=jQuery(this).val();return e&&(window.location=e),!1})});

%h1 Welcome to Jicho
%h4 Jicho allows users to submit images to the Google Cloud Vision API and get back a list of tags.
%form(method="post" enctype='multipart/form-data')
  %input(type='file' name='image_file')
  %br
  %input(type='submit' value='Submit for Analysis')

- if (defined? labels) && labels
  %hr
  %div{:id => "container"}




