!!! 5
%html{ lang: 'en' }
  %head
    %title Jicho (Google Vision API sampler)
    %meta{ charset: 'utf-8' }

    %link{ href: '/style.css', rel: 'stylesheet' }

    %script(src="jquery-1.7.2.js")
    %script(src="highcharts.js")

    %script(src="bootstrap.js")
    %script(src="modernizr.js")
    %script(src="script.js")
    %script(src="highcharts.js")
  %body
    = yield
