!!! 5
%html{ lang: 'en' }
  %head
    %title Untitled App
    %meta{ charset: 'utf-8' }

    %link{ href: '/style.css', rel: 'stylesheet' }
    %script(src="http://www.highcharts.com/lib/jquery-1.7.2.js")
    %script(src="http://code.highcharts.com/highcharts.js")

    %script(src="http://www.highcharts.com/joomla/media/templates/highsoft_bootstrap/js/bootstrap.js")
    %script(src="http://www.highcharts.com/joomla/media/templates/highsoft_bootstrap/js/modernizr.js")
    %script(src="http://www.highcharts.com/joomla/media/templates/highsoft_bootstrap/js/script.js")
    %script(src="http://code.highcharts.com/highcharts.js")
  %body
    = yield
